# dependencies
/node_modules

# testing
/coverage

# next.js
/.next
/out
next-env.d.ts

# prisma
/src/generated
/prisma/*.db
/prisma/*.db-journal

# env files
.env
.env*.local

# misc
.DS_Store
npm-debug.log*
